name: Build Docker images (scheduled)

on:
  workflow_dispatch:
  workflow_call:
  schedule:
    - cron: "0 1 * * *"

concurrency:
  group: docker-image-builds
  cancel-in-progress: false

jobs:
  clean-storage:
    name: "Clean docker image storage"
    runs-on: [self-hosted, docker-gpu, multi-gpu]
    steps:
      - name: Clean storage
        run: |
          docker image prune --all -f --filter "until=48h"
          docker system prune --all -f --filter "until=48h"

  latest-cpu:
    name: "Latest Accelerate CPU [dev]"
    runs-on: [self-hosted, docker-gpu, multi-gpu]
    needs: clean-storage
    defaults:
      run:
        working-directory: accelerate/
        shell: bash
    steps:
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}

      - name: Build and Push CPU
        uses: docker/build-push-action@v4
        with:
          context: accelerate/docker/accelerate-cpu
          push: true
          tags: huggingface/accelerate-cpu

  latest-cuda:
    name: "Latest Accelerate GPU [dev]"
    runs-on: [self-hosted, docker-gpu, multi-gpu]
    needs: clean-storage
    defaults:
      run:
        working-directory: accelerate/
        shell: bash
    steps:
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}

      - name: Build and Push GPU
        uses: docker/build-push-action@v4
        with:
          context: accelerate/docker/accelerate-gpu
          push: true
          tags: huggingface/accelerate-gpu