name: Self-hosted runner (scheduled)

on:
  workflow_dispatch:
  schedule:
    - cron: "0 2 * * *"

jobs:
  run_all_tests_single_gpu:
    runs-on: [self-hosted, docker-gpu, multi-gpu]
    env:
      CUDA_VISIBLE_DEVICES: "0"
      ALL_SLOW: "yes"
    container:
      image: huggingface/accelerate-gpu:latest
      options: --gpus all --shm-size "16gb"
    defaults:
      run:
        working-directory: accelerate/
        shell: bash
    steps:
      - name: Update clone & pip install
        run: |
          source activate accelerate
          git config --global --add safe.directory '*'
          git fetch && git checkout ${{ github.sha }} 
          pip install -e .[test_trackers]

      - name: Run test on GPUs
        run: |
          source activate accelerate
          make test
      - name: Run examples on GPUs
        run: |
          source activate accelerate
          make test_examples

  run_all_tests_multi_gpu:
    runs-on: [self-hosted, docker-gpu, multi-gpu]
    env:
      ALL_SLOW: "yes"
      CUDA_VISIBLE_DEVICES: "0,1"
    container:
      image: huggingface/accelerate-gpu:latest
      options: --gpus all --shm-size "16gb"
    defaults:
      run:
        working-directory: accelerate/
        shell: bash
    steps:
      - name: Update clone
        run: |
          source activate accelerate
          git config --global --add safe.directory '*'
          git fetch && git checkout ${{ github.sha }}
          pip install -e .[test_trackers]

      - name: Run test on GPUs
        run: |
          source activate accelerate
          make test

      - name: Run examples on GPUs
        run: |
          source activate accelerate
          make test_examples