name: Self-hosted runner (scheduled)

on:
  workflow_dispatch:
  schedule:
    - cron: "0 2 * * *"

env:
  RUN_SLOW: yes

jobs:
  run_all_tests_single_gpu:
    runs-on: [self-hosted, docker-gpu, multi-gpu]
    env:
      CUDA_VISIBLE_DEVICES: "0"
    container:
      image: huggingface/accelerate-gpu:latest
      options: --gpus all --shm-size "16gb"
    defaults:
      run:
        working-directory: accelerate/
        shell: bash
    steps:
      - name: Update clone & pip install
        run: |
          source activate accelerate
          git fetch && git checkout ${{ github.sha }}
          pip install -e . --no-deps
      - name: Run test on GPUs
        run: |
          source activate accelerate
          make test_cuda
      - name: Run examples on GPUs
        run: |
          source activate accelerate
          make test_examples

  run_all_tests_multi_gpu:
    runs-on: [self-hosted, docker-gpu, multi-gpu]
    container:
      image: huggingface/accelerate-gpu:latest
      options: --gpus all --shm-size "16gb"
    defaults:
      run:
        working-directory: accelerate/
        shell: bash
    steps:
      - name: Update clone
        run: |
          source activate accelerate
          git fetch && git checkout ${{ github.sha }}
          pip install -e . --no-deps
      - name: Run test on GPUs
        run: |
          source activate accelerate
          make test_cuda

      - name: Run examples on GPUs
        run: |
          source activate accelerate
          make test_examples
