name: Run Tests

on: [pull_request]

env:
  HF_HOME: ~/hf_cache

jobs:
  run-tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        test-kind: [
          test,
          test_deepspeed,
          test_example_differences,
          test_checkpoint_step,
          test_checkpoint_epoch,
          test_rest
        ]
    steps:
    - uses: actions/checkout@v3
    - name: Set up python 3.7
      uses: actions/setup-python@v3
      with:
        python-version: 3.7
    
    - name: Activate python cache
      uses: actions/cache@v3
      with:
        path: |
          ${{ env.pythonLocation }}
          ${{ env.HF_HOME }}
        key: ${{ env.pythonLocation }}-${{ matrix.test-kind }}-${{ hashFiles('setup.py') }}
    
    - name: Install the library
      run: |
        pip install --upgrade pip
        pip install -e .[test,test_trackers,tensorboard]
    
    - name: Run Tests
      run: |
        make ${{ matrix.test-kind }}